.Button {
  text-decoration: none;
  padding: 4px 6px;
  border: 2px solid transparent;
  color: #424f65;
}

.Button.selected {
  border: 2px solid #424f65;
}

.Button:not(.selected):hover {
  border: 2px dotted #424f65;
}

.Button + .Button {
  margin-left: 8px;
}
