.TodoList {
  margin: 30px auto;
  max-width: 600px;
}

.TodoList ul {
  padding: 0;
  list-style: none;
}

.TodoList ul li {
  margin-bottom: 12px;
}

.TodoList__placeholder {
  text-align: center;
  color: #aaa;
}
