.AddTodo input[type="text"] {
  background-color: #ddd;
  border-bottom: 2px solid #aaa;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
  width: 600px;
}

.AddTodo input[type="text"]::placeholder {
  color: #aaa;
}

@media (max-width: 600px) {
  .AddTodo input[type="text"] {
    width: 400px;
  }
}
