.Wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App {
  padding: 20px;
  flex: 1;
}

.App h1,
.App__add-todo {
  display: flex;
  justify-content: center;
  color: #424f65;
}

.App h1 {
  text-transform: uppercase;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 80px;
  width: 100%;
  border-top: 1px solid #dcdcdc;
}

footer .Status {
  position: absolute;
  right: 20px;
}

@media (max-width: 500px) {
  .App {
    margin: 50px 0;
  }
}
