* {
  box-sizing: border-box;
}

/* resets */
input[type="text"] {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}
input:focus {
  outline: 0;
}

body {
  background: #ddd;
  font-family: sans-serif;
}
